
@font-face {
    font-family: 'true-lies';
    src: url('/fonts/true-lies/true_lies-webfont.woff2') format('woff2'),
         url('/fonts/true-lies/true_lies-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}