{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-lg-6 content">
      <h2>{{ i18n "contact_us" }}</h2>
      {{ .Content }}

      <p>
        <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
      </p>
      
      <p>
        {{ .Site.Params.address | markdownify }}
      </p>
    </div>
  </div>

    {{- if .Site.Params.contact_form_action -}}
    <div class="col-lg-6 mb-4 mb-lg-0">
      <form action="{{ .Site.Params.contact_form_action | safeURL }}" method="POST">
        <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Your Name">
        <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="Your Email">
        <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="Subject">
        <textarea name="message" id="message" class="form-control mb-3" placeholder="Your Message"></textarea>
        <button type="submit" value="send" class="btn btn-primary">{{ i18n "send" }}</button>
      </form>
    </div>
    {{- end -}}
    </div>
  </div>
</div>

<!-- gmap -->
{{- if $.Site.Params.map.gmap_api -}}
<section class="section pt-0">
  <!-- Google Map -->
  <div id="map_canvas" 
  data-latitude="{{ .Site.Params.map.map_latitude }}"
  data-longitude="{{ .Site.Params.map.map_longitude }}" 
  data-marker="{{ .Site.Params.map.map_marker | absURL }}"
  data-marker-name="{{ .Site.Title }}"></div>
</section>
<!-- /gmap -->
{{- end -}}

{{ end }}