<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
  {{- partial "preloader.html" . -}}
  {{- partial "header.html" . -}}
  {{ if not .IsHome }}
  {{ partial "page-header.html" . }}
  {{ end }}
  <main class="{{if not .IsHome}}pb-5 pt-3{{end}} {{with .Params.mainClass}}{{.}}{{end}}">
  {{- block "main" . }}
    <div class="container">
      {{- .Content -}}
    </div>
  {{- end }}
  </main>
  {{- partial "footer.html" . -}}
  
  {{- partial "snipcart.html" . -}}
</body>

</html>
