<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}" class="no-js">
  <head>
    {{- partial "head.html" . -}}

    <title>
      {{- block "title" . }}
      {{ with .Params.Title }}{{ . }} | {{ end }}
      {{ $.Site.Title }}
      {{ end -}}
    </title>

    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  </head>

<body>
  {{- partial "preloader.html" . -}}
  {{ if not .IsHome }}
  {{- partial "header.html" . -}}
  {{ partial "page-header.html" . }}
  {{ end }}
  <main class="{{if not .IsHome}}pb-5 pt-3{{end}} {{with .Params.mainClass}}{{.}}{{end}}">
  {{- block "main" . }}
    <div class="container">
      {{- .Content -}}
    </div>
  {{- end }}
  </main>
  {{- partial "footer.html" . -}}
  
  {{- partial "snipcart.html" . -}}
</body>

</html>
