{{ define "main" }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 order-2 order-lg-1">
      <div class="row">
        {{- if .Params.Image -}}
        <div class="col-12 mb-4">
          <img src="{{ .Params.Image | relURL }}" alt="blog-thumb" class="img-fluid w-100">
        </div>
        {{- end -}}

        <div class="col-12 content">
          {{ .Content }}
        </div>

      </div>
    </div>
    {{/* partial "blog-sidebar.html" . */}}
  </div>
</div>

{{ end }}