{{ define "main" }}
{{- $data := index .Site.Data .Site.Language.Lang -}}

<div class="container">
  <div class="row">
    <div class="col-12">
  
      <a href="#" class="h1 btn btn-link btn-lg px-0 mx-0 snipcart-checkout snipcart-summary">
        Voir le panier (<span class="snipcart-total-items"></span>)
      </a>

      {{- .Content -}}
    </div>
  </div>
</div>

<div class="container border-top border-secondary events-list-container mb-5">
  {{ range $data.courses }}
  <div class="row border-secondary border-bottom mb-5 mb-lg-0 text-center text-lg-left align-items-center">
    <div class="col-sm-12 col-lg-3">
      <h3 class="m-0 py-2 text-secondary">{{ .title }}</h3>
    </div>
    <div class="col-sm-12 col-lg-6">
      <p class="text-body m-0 text-lg-left align-self-baseline">{{ .fee | lang.NumFmt 2 }}$</p>
    </div>
    <div class="col-sm-12 col-lg-3 text-right py-2 mt-2 mt-lg-0">
      <button href="#"
              class="snipcart-add-item btn btn-secondary btn-hover-primary py-2 btn-block"
              data-item-id="{{ .id }}"
              data-item-price="{{ .fee| lang.NumFmt 2 }}"
              data-item-url="{{ $.Page.Permalink }}"
              data-item-description="{{ .description }}"
              {{ if .thumbnail -}}
              data-item-image="{{ .thumbnail }}"
              {{- end }}
              data-item-categories="inscription, 2020"
              data-item-name="{{ .title }}"
              
              {{/* stackable option to avoid merging 2 people */}}
              data-item-stackable="false"
              
              {{/* BEGIN Custom Fields */}}
              data-item-custom1-name="Prénom"
              data-item-custom1-required="true"
              data-item-custom2-name="Nom de famille"
              data-item-custom2-required="true"
              data-item-custom3-name="Sexe"
              data-item-custom3-options="M|F"
              data-item-custom3-required="true"
              data-item-custom4-name="Date de naissance"
              data-item-custom4-required="true"
              data-item-custom5-name="Adresse (participant)"
              data-item-custom5-required="true"
              data-item-custom6-name="Ville"
              data-item-custom6-required="true"
              data-item-custom7-name="Province"
              data-item-custom7-required="true"
              data-item-custom8-name="Code postal"
              data-item-custom8-required="true"
              data-item-custom9-name="Courriel"
              data-item-custom9-required="true"
              data-item-custom10-name="Téléphone"
              data-item-custom10-required="true"
              data-item-custom11-name="Condition médicale"
              data-item-custom11-required="true"
              data-item-custom12-name="Téléphone en cas d’urgence"
              data-item-custom12-required="true"
              
              {{ if .affiliation -}}
              data-item-custom13-name="# d’affiliation de votre fédération"
              data-item-custom13-required="true"
              {{- end }}
              {{/* END Custom Fields */}}
              
              >
        {{ i18n "register" }} &rarr;
      </button>
    </div>
  </div>
  {{ end }}
</div>

{{ end }}