$navbar-transition: .45s $easeOutQuint .1s;
$link-cta-spacing: 24px;

.fixed-top {
  transition: all .2s $easeOutQuint;
  
  [data-scrolldir="down"].scrolled & {
    transform: translateY(-100%);
    transition-duration: .45s;
  }
  [data-scrolldir="up"] & {
    transform: translateY(0);
  }
}

.top-header {
  font-size: 12px;
  transition: transform $navbar-transition;
  transform-origin: top;
  font-weight: 600;
  background-color: $black;
  color: $light;
  
  a {
    color: $light;
    
    &:hover {
      color: $secondary;
    }
  }

  &.hide {
    transform: scaleY(0);
    transform-origin: top;
//    font-size: 0;
  }
}

.header{
  @include desktop {
//    position: static !important;
    background: $body-bg;
  }
  
  // navbar collapse
  @include media-breakpoint-up(lg) {
    margin-bottom: -2vh;
  }
}

.navbar-brand {
//  padding: .5rem;
  flex-basis: auto; // take up the space
  margin: 0;
  padding: $navbar-brand-padding-y 2rem $navbar-brand-padding-y 1rem;
  @include media-breakpoint-up(sm) {
    padding-left: 2rem; // little padding on the left
    padding-right: 2rem; // more padding on the right
  }
  @include media-breakpoint-up(lg) {
    padding-left: 2rem; // little padding on the left
    padding-right: map-get($spacers, 4); // more padding on the right
  }
  transition: all .3s ease .3s;
  position: relative;

  img {
    @include media-breakpoint-down(sm) {
//      max-height: 6rem;
    }
    height: auto;
    transition: all .7s $easeInOutQuint .1s;
  }
}

//.navbar-nav {
//  padding: 0;
//}

.navbar-toggler {
  padding: 1rem 1.5rem;
}

.nav-bg {
  
  .navbar-brand {
    background-color: $body-bg;
  }
}

//.top-height {
//  margin-top: -47px; // YMMV
//}

.nav-item {
  font-size: 1rem;
  transition: all .35s;
  color: $white;
  position: relative;
  z-index: 1;
  background-color: theme-color('primary');

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -2;

    transition: inbherit;

    left: 0;
    width: 100%;
    height: 100%;
    transform: skewX(12deg);
    transform-origin: bottom left;
    top: 0;
    background-color: inherit;
  }
  
  
  .nav-link {
    color: $white;
  }
  
  &:hover {
    background-color: theme-color('secondary');
    color: $white;
    
    .nav-link {
      color: inherit;
    }
  }

  &-cta {
    background-color: theme-color('secondary');
    position: relative;
    z-index: 1;

    &:hover {
      
//      background-color: lighten(theme-color('secondary'), 5%);
      
      &::before {
        left: -($link-cta-spacing);
//        background-color: lighten(theme-color('secondary'), 5%);
      }
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: -2;
      
      transition: all .5s $easeInOutQuint;

      left: 0;
      width: 100%;
      height: 100%;
      transform: skewX(12deg);
      transform-origin: bottom left;
      top: 0;
      background-color: theme-color('secondary');
    }
  }
}

.nav-link {
  text-transform: uppercase;
  font-weight: 600;
  color: inherit;
  
  padding: $spacer map-get($spacers, 2);
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: $white;
  box-shadow: 0 2px 5px #0000000d;
}

.navbar {
  .dropdown {

    &:hover {
      .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(0)
      }
    }

    &-menu {
//      box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.12);
//      border-bottom: 5px solid $primary;
      top: 99.9%;
      margin: 0;
      padding: 0;
      border-radius: 0;
      border: 0;
      display: block;
      visibility: hidden;
      transition: .3s ease;
      opacity: 0;
      background-color: theme-color('primary');
      width: 100%;

      @include desktop {
        display: none;
        opacity: 1;
        visibility: visible;
        transform-origin: unset;
      }

      &.view {
        visibility: visible !important;
        opacity: 1;
//        transform: translateY(0);

        @include desktop {
          display: block;
        }
      }

      &.show {
        visibility: hidden;

        @include desktop {
          visibility: visible;
          display: block;
        }
      }
    }

    &-item {
      position: relative;
      transition: .2s ease;
      font-family: $font-family-base;
      color: $white;
      padding: map-get($spacers, 2) map-get($spacers, 2);

      @include desktop {
        text-align: center;
      }

      &:not(:last-child) {
//        margin-bottom: 10px;
      }

      &:hover {
        color: $white;

        background-color: theme-color('secondary');
      }
    }
  }
}
