<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  {{- if .Site.Params.top_header -}}
  <div class="top-header py-2">
    <div class="container-fluid">
      <div class="row no-gutters align-items-center">
        <div class="col-md-4 text-center text-md-left">
          <ul class="list-inline">
            {{ range .Site.Params.social }}
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
        <div class="col-md-8 text-center text-md-right">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-color mr-3" href="tel:{{ .Site.Params.mobile }}"><strong>{{ i18n "call" | upper }} : </strong> {{ .Site.Params.mobile }}</a></li>
            <li class="list-inline-item">
              <a class="text-color" href="mailto:{{ .Site.Params.email }}"><strong>{{ i18n "email" | upper }} : </strong> {{ .Site.Params.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{- end -}}
  <!-- navbar -->
  <div class="navigation w-100 {{ if .Site.Params.top_header }} top-hider {{ end }}">
    <nav class="navbar navbar-dark navbar-expand-lg p-0 d-flex flex-row justify-content-lg-stretch align-items-lg-start">
      <a class="navbar-brand col-9 col-md-4" href="{{ .Site.BaseURL | relLangURL }}"><img class="img-fluid"
          src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>
      <button class="navbar-toggler rounded-0 border-0 align-self-stretch bg-tertiary col-3 col-sm-2" type="button" data-toggle="collapse" data-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="col-lg-8 collapse navbar-collapse p-0 text-center main-navbar-links ml-auto navbar-nav ml-auto align-items-stretch justify-content-lg-end" id="navigation">
        {{- range .Site.Menus.main -}}
        {{- if .HasChildren -}}
        <li class="nav-item dropdown flex-grow-1">
          <a class="nav-link dropdown-toggle" href="{{ .URL | relLangURL }}" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{- range .Children -}}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{- end -}}
          </div>
        </li>
        {{- else -}}
        <li class="nav-item flex-grow-1">
          <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{- end -}}
        {{- end -}}

        <li class="nav-item nav-item-cta">
          <a class="nav-link" href="{{ "/inscription" | relLangURL }}">
            Inscription
            <sup><span class="snipcart-items-count"></span></sup>
          </a>
        </li>
      </ul>

      <!-- Language List -->
      {{- if .IsTranslated -}}
      <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
        {{- $siteLanguages := .Site.Languages -}}
        {{- $pageLang := .Page.Lang -}}
        {{- range .Page.AllTranslations -}}
        {{- $translation := . -}}
        {{- range $siteLanguages -}}
        {{- if eq $translation.Lang .Lang -}}
        {{- $selected := false -}}
        {{- if eq $pageLang .Lang -}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
        </option>
        {{- else -}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}
      </select>
      {{- end -}}
    </nav>
  </div>
</header>
<!-- /header -->