<!-- header -->
<header class="header">
  <!-- navbar -->
  <nav class="navbar navbar-light bg-white navbar-expand-lg py-2 d-flex flex-row justify-content-lg-stretch align-items-lg-start">
    <div class="container">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        <img class="img-fluid"
             style="max-width: 18rem;"
             src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}"></a>

      <button class="navbar-toggler rounded-0 border-0 align-self-stretch col-3 col-sm-2" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="collapse navbar-collapse navbar-nav ml-auto" id="navigation">
        {{- range .Site.Menus.main -}}
        {{- if .HasChildren -}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ .URL | relLangURL }}" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ .Name }}
          </a>
          <div class="dropdown-menu">
            {{- range .Children -}}
            <a class="dropdown-item" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
            {{- end -}}
          </div>
        </li>
        {{- else -}}
        <li class="nav-item flex-grow-1">
          <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{- end -}}
        {{- end -}}

      </ul>

      <!-- Language List -->
      {{- if .IsTranslated -}}
      <select class="m-2 border-0" id="select-language" onchange="location = this.value;">
        {{- $siteLanguages := .Site.Languages -}}
        {{- $pageLang := .Page.Lang -}}
        {{- range .Page.AllTranslations -}}
        {{- $translation := . -}}
        {{- range $siteLanguages -}}
        {{- if eq $translation.Lang .Lang -}}
        {{- $selected := false -}}
        {{- if eq $pageLang .Lang -}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
        </option>
        {{- else -}}
        <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
        {{- end -}}
        {{- end -}}
        {{- end -}}
        {{- end -}}
      </select>
      {{- end -}}

      {{- if $.Site.Params.enableInscription }}
      <a class="btn btn-secondary btn-hover-primary ml-auto" href="{{ "/inscription" | relLangURL }}">
      Inscription
      <!--            <sup class="snipcart-summary"><span class="snipcart-items-count"></span></sup>-->
      </a>
      {{ end -}}
    </div>
  </nav>
</header>
<!-- /header -->
