<!-- page title -->
<section class="page-title-section overlay" style="background-image: url('{{ .Params.Bg_image | relURL}}'),url('{{`images/backgrounds/page-title.jpg`| relURL}}');" >
  <div class="container">
    <nav class="custom-breadcrumb">
      {{ if .Page.Parent }}
      <a class="text-primary" href="{{ .Page.Parent.Permalink | absLangURL }}">
        {{ .Page.Parent.Title | title }}
      </a>
      <i class="ti-angle-right text-white"></i>
      {{- end -}}

      <div class="text-white h1 mb-0">
        {{ .Title }}
      </div>
    </nav>
    {{- with .Params.Description -}}
    <p class="text-lighten mt-1">{{ . | markdownify }}</p>
    {{- end -}}
  </div>
</section>