
{{ with $.Site.Params.snipcart -}}
{{/* Snipcart v2 requires jQuery (but not v3) */}}
<script
  async
  src="{{ .scriptUrl | default "https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js" }}"
  data-api-key="{{ .publicApiKey }}"
  data-cart-custom1-name="J’accepte les termes et conditions de la course"
  data-cart-custom1-options="true|false"
  data-cart-custom1-required="true"
  ></script>

<div
  id="snipcart"
  hidden
  data-api-key="{{ .publicApiKey }}"
  data-config-modal-style="full"
  data-currency="cad"
>

  <!-- Order custom fields -->
  <billing section="bottom">
    <fieldset class="snipcart-form__set">
      <div class="snipcart-form__field">
        <div class="snipcart-form__field-checkbox">
          <snipcart-checkbox name="renonciation"></snipcart-checkbox>
          <snipcart-label for="renonciation" class="snipcart__font--tiny snipcart-form__label--checkbox">
            En s’inscrivant, chaque participant·e accepte les&nbsp;<br><a href="{{ "/files/renonciation.pdf" | relURL }}" style="text-decoration: underline">termes et conditions de l’événement</a>.
          </snipcart-label>
        </div>
      </div>
    </fieldset>
  </billing>
</div>
{{- end }}
