
{{ with $.Site.Params.snipcart -}}
{{/* Snipcart v2 requires jQuery (but not v3) */}}
<script
  async
  src="{{ .scriptUrl | default "https://cdn.snipcart.com/themes/v3.0.31/default/snipcart.js" }}"
  data-api-key="{{ .publicApiKey }}"
  data-cart-custom1-name="J’accepte les termes et conditions de la course"
  data-cart-custom1-options="true|false"
  data-cart-custom1-required="true"
  ></script>

<div
  id="snipcart"
  hidden
  data-api-key="{{ .publicApiKey }}"
  data-config-modal-style="full"
  data-currency="cad"
>

</div>
{{- end }}
