{{- define "title" }}
{{ $.Site.Title }}
{{ end -}}
{{ define "main" -}}

{{ $data := index .Site.Data .Site.Language.Lang -}}

<section class="landing-section d-flex flex-column justify-content-between text-white" style="background-image: url('{{ $data.homepage.bg_image | absURL }}')" data-background="{{ .Params.bg_image | absURL }}">
  
  {{- partial "header.html" . -}}
  
  <div class="container-fluid px-sm-3 px-lg-5 py-3 py-md-1">
    <span class="landing-section__subtitle d-block text-uppercase p-1">
      Dimanche 12 septembre 2021
    </span>
    <h1 class="landing-section__title pb-2">
      {{- $.Site.Title -}}
    </h1>
  </div>

  {{- if $data.homepage.landingCTA -}}
  <nav class="landing-section__cta-collection d-flex flex-column flex-md-row no-gutter">
    {{- range $data.homepage.landingCTA -}}
    <a class="d-block flex-grow-1 py-4 py-sm-3 py-md-3 py-lg-2 px-1 text-center {{ .class }}" href="{{ .link | relLangURL }}">
      {{- .title -}}
    </a>
    {{- end -}}
  </nav>
  {{- end -}}
</section>

<section class="bg-white">
  <div class="container py-4 px-lg-1">
    <div class="row">
      <div class="col-12 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<section class="full-section image-section" style="background-image: url({{ "/images/backgrounds/landing-bg-3.jpg" | relURL }})">
<div class="container-fluid">
  <div class="row">
    <div class="col-12 p-0">
      {{/*
      <img class="img-fluid" src="/images/backgrounds/page-title.jpg" />
      */}}
    </div>
  </div>
</div>
</section>

<!--<section class="full-section image-section" style="background-image: url({{ "/images/backgrounds/landing-bg-2.jpg" | relURL }})">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--    <div class="col-12 p-0">-->
<!--&lt;!&ndash;      <img class="img-fluid" src="/images/backgrounds/page-title.jpg" />&ndash;&gt;-->
<!--    </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="py-5 py-md-3">
  <div class="container-fluid no-gutter">
    <h2 class="text-center mt-0 mb-3 mt-md-3">
      Commanditaires de l’événement
    </h2>
    <div class="row align-items-center">
      {{ range $index, $commanditaire := $data.commanditaires -}}
      <div class="col-6 col-sm-4 col-lg-3 mb-0 py-2 px-3 px-sm-3 px-lg-4 text-center">
        <img src="{{ $commanditaire.logo }}" class="img-fluid mx-auto img-commanditaire" alt="{{ $commanditaire.Title }}" />
      </div>
      {{- end }}
    </div>
  </div>
</section>


<section class="container-fluid no-gutter">
  <div class="row">
    <div class="col-md-6 p-0 bg-dark position-relative">
      <a href="{{ "/benevoles/" | relLangURL }}" class="bg-primary text-white d-block w-100 h-100 px-3 py-4 h1 text-center">
        Bénévoles
      </a>
    </div>

    <div class="col-md-6 px-0 mb-0 bg-light text-secondary">
      <a href="{{ "/resultast/" | relLangURL }}" class="bg-secondary text-white d-block w-100 h-100 px-3 py-4 h1 text-center">
        Résultats
      </a>
    </div>
  </div>
</section>
<section class="container-fluid no-gutter">
  <div class="row">
    <div class="col-12 px-0">
      <a href="{{ "/resultats/" | relLangURL }}" class="text-gray bg-light d-block w-100 h-100 py-4 h1 text-center">
        Résultats antérieurs &rarr;
      </a>
    </div>
  </div>
</section>


<section class="bg-light text-tertiary">
  <div class="container py-3">
    
  </div>
</section>

  
<!-- banner-feature -->
{{ if $data.homepage.banner_feature.enable }}
{{ with $data.homepage.banner_feature }}
<section class="bg-white">
  <div class="container-fluid p-0">
    <div class="row no-gutter">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row no-gutter feature-blocks bg-white justify-content-between">
          {{ range .feature_item }}
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-feature -->

<!-- about us -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary-outline">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ with .image }}
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{{ . | absURL }}" alt="about image">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about us -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">{{ .subtitle | markdownify }}</h6>
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-secondary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->

<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->

<!-- events -->
{{ if $data.homepage.event.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.event.title }}</h2>
          <div class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      {{ range first 3 (where .Site.RegularPages "Type" "event")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /events -->

{{ end }}
